.property-card {
    background-color: #E6E3E1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
  }
  
  .property-card h2 {
    color: #B37840;
    margin-bottom: 10px;
  }
  
  .property-card p {
    color: #000;
    margin: 5px 0;
  }